:root{
    --grey: rgb(195,190,192);
    --light--grey: rgb(216,215,219);
    --dark: rgb(19,20,16);
    --dark-grey:rgb(94,92,91);
    --green: rgb(61,71,46);
    --brown: rgb(144,127,114);
}


.Header{
    width: 90%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2%;
}

.header__nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.header__logo{
    width: 60px;
    aspect-ratio: 1;
    margin-left: 3vw;
}

.header__logo:hover{
    transform: scale(1.1);
}

.header__nav{
    margin-right: 3vw;
}

.header__nav .header__item > a{
    text-decoration: none;
    margin: 0;
    padding: 0;
}


.header__list{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 10%;
    list-style: none;
}

.header__item{
    width: 50px;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: var(--dark);
}

.header__item:hover{
    background-color: white;
    
}

.header__button{
    border: none;
    background: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.active-link{
    width: 40px;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: var(--dark);
    background-color: white;
}
