:root{
    --grey: rgb(195,190,192);
    --light--grey: rgb(216,215,219);
    --dark: rgb(19,20,16);
    --dark-grey:rgb(94,92,91);
    --green: rgb(61,71,46);
    --brown: rgb(144,127,114);
}

.ModalLoading{
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    position: absolute;
    z-index: 3;
    margin-top: 20vh;
}

.modal__content{
    width: 60%;
    aspect-ratio: 1;
    background-color: var(--light--grey);
    border-radius: 20px;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    position: absolute;
    top: 15%;
}


.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
}
.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
