@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Avestan&display=swap');


:root{
    --grey: rgb(195,190,192);
    --light--grey: rgb(216,215,219);
    --dark: rgb(19,20,16);
    --dark-grey:rgb(94,92,91);
    --green: rgb(61,71,46);
    --brown: rgb(144,127,114);
}

body{
    margin: 0;
    min-height: 100vh;
    box-sizing: border-box;
    background-color: var(--light--grey);
    font-family: 'Noto Sans Avestan', sans-serif;
    color: black;
}


.App{
    width: 100vw;
    min-height: 100vh;
    background-color: var(--light--grey);
    color: var(--dark);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}